.header{
  background-color: lavender;
  opacity: 0.8;
  transition: all 0.5s ease;
}

.hidden{
  background: none;
  transition: all 0.5s ease;
}
.footer{
  background-color: lavender;
}
.alert{
  z-index: 1031 !important;
}

.title{
  margin-top: 150px;
}

.nav-link {
  transition: 0.5s;
  border-radius: 10px !important;
}

.nav-link:hover{
  color: black !important;
  background-color: gainsboro;
  transform:scale(1.1,1.1);
  transition: 0.5s;
}

.navbar-brand {
  transition: 0.5s;
  margin-right: 0 !important;
}

.navbar-brand:hover {
  transform:scale(1.1,1.1);
  transition: 0.5s;
}

.fadein{
  opacity: 0;
   transform: translateY(20px);
   transition: all 1.5s 0.3s ease-out;
 }

.no-underline {
  text-decoration: none !important;
}

.opacity{
  opacity: 0.8;
}

#open, #close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 10px auto 0;
  background-color: #fff;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#modal {
  background: #fff;
  width: 80%;
  height: 43%;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  margin:0 auto;
  transition: transform 0.4s;
  z-index: 12;
}

#modal > p {
  margin: 0 0 20px;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}

/* --- 全体のBOX定義 ---------------------------------------- */
.box {
  position   : relative;
  overflow   : hidden;
  height: 780px;
}

/* --- 背景の指定 ------------------------------------------- */
.box .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 16s infinite;   /* 4画像 × 各4s = 16s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.box .src1 {
  background-image : image-url("reading1.jpeg");   /* 背景の画像を指定 */
  height: 780px;
  background-size: cover;
  background-position: center center;;
}
.box .src2 {
  background-image : image-url('reading6.jpeg');   /* 背景の画像を指定 */
  animation-delay  : 4s;
  height: 780px;
  background-size: cover;
  background-position: center center;;
}
.box .src3 {
  background-image : image-url('reading3.jpeg');   /* 背景の画像を指定 */
  animation-delay  : 8s;
  height: 780px;
  background-size: cover;
  background-position: center center;;
}
.box .src4 {
  background-image : image-url('reading4.jpeg');   /* 背景の画像を指定 */
  animation-delay  : 12s;
  height: 780px;
  background-size: cover;
  background-position: center center;;
}

@keyframes bgAnime {
   0% { opacity: 0; }
   8% { opacity: 1; }
  25% { opacity: 1; }
  33% { opacity: 0; }
 100% { opacity: 0; }
}

/* --- 前面の文字定義（サンプルのため変更してください） ----- */
.box .boxString{
  position   : absolute;
  width: 250px;
  /* display    : inline-block; */
  padding    : 5px;
  margin: 20px;
  color      : rgb(77, 80, 54);
  top        : 25%;
  left       : 30%;
  transform  : translate(-50%,-50%);
  z-index    : 11;
  margin-top: 72px;
}

.shadow{
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);   /* 影指定 */
  border-radius: 3px;                             /* 角丸指定 */
  transition: 0.3s;
}

.field{
  margin: 3px;
}

.nickname{
  width: 80%;
  height: 40px;
  margin-left: 10px;
}
.nickname:focus {
  border: 1px solid #0ac458;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(11, 28, 175, 0.5);
}

.email {
  width: 80%;
  height: 40px;
  margin-left: 10px;
}
.email:focus {
  border: 1px solid #0ac458;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(11, 28, 175, 0.5);
}

.password{
  width: 80%;
  height: 40px;
  margin-left: 10px;
}
.password:focus{
	border: 1px solid #0ac458;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(11, 28, 175, 0.5);
}

.error_msg{
  margin-bottom: 0;
}

li{
  list-style: none;
}